h1 {
    color: rgb(67, 167, 88);
    text-align: center;
    margin:50px auto;
}

#score{
    font-family: "Verdana", sans-serif;
    font-size:1.2em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

#board{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    flex-flow: row wrap;
}

.post{
    display:flex;
    height:200px;
    width:200px;
    justify-content: center;
    align-items:center;
    flex-flow: column;
    width:300px;
    height:300px;
    
}

.diskqueue{
    background-color: purple;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    position: relative;
    height:50px;
    width:200px;
}

.disks{
    background-color:green;
    display:flex;
    justify-content:center;
    align-items: flex-end;
    position:relative;
    width:200px;
    height:190px;

}

.rod{
    width: 10px;
    height: 200px;
    background:black;
    border-radius:50px;
    position:relative;
    top:10px;

}

.base{
    width: 200px;
    height: 10px;
    background:black;
    border-radius: 50px;
    
}

.disk{
    background-color:red;
    width: 150px;
    height: 30px;
    position:absolute;
    border-radius: 75px;

}


